# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# IDEs/editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific
.DS_Store

# Log files
*.log

# Test/coverage
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover

# SVG tool temp files or output artifacts
*.svg
output/
hershey-fonts-master/
hershey-fonts-master.zip
